<app-header></app-header>
<div class="center-container">
<mat-card>
  <mat-card-content>
      <h2>Login</h2>

    <mat-radio-group [(ngModel)]="radioButtonTipoUsuario" aria-label="Select an option">
      <mat-radio-button value="P" class="my-custom-radio">Paciente</mat-radio-button>
      <mat-radio-button value="F" class="my-custom-radio">Fisioterapeuta</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
        <input matInput placeholder="CPF" [(ngModel)]="usuario.cpf" name="cpf">

      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Senha" [(ngModel)]="usuario.senha"
               name="senha">

      </mat-form-field>
          <p *ngIf="erro" class="error">
            Usuário e/ou senha inválida.
          </p>

      <button mat-raised-button style="background: cornflowerblue; margin-right: 15px"
              (click)=logar()>Login</button>
      <button mat-raised-button style="background: cornflowerblue"
              (click)=registrar()>Registrar</button>
  </mat-card-content>
</mat-card>
</div>
