
<div class="center-container">
  <mat-card style="text-align: center">
    <mat-card-title>Dados para cadastro</mat-card-title>
    <mat-card-content>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Nome"
                 [(ngModel)]="fisioterapeuta.nome" name="nome">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="CPF"
                 [(ngModel)]="fisioterapeuta.cpf" name="cpf">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Inscrição"
                 [(ngModel)]="fisioterapeuta.inscricao" name="inscricao">
        </mat-form-field>
      </p>

      <div class="button" style="text-align: left">
        <button type="submit" mat-button (click)=cadastrar()>Salvar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
