/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
  justify-items: center;
  width: 100%;
}

.content-container {
  max-width: 750px;
}

.mat-toolbar {
  background: cornflowerblue !important;
  color: black !important;
}

.table-listagem {
  margin-left: 12px;
  margin-right: 12px;
}

.header-tabela {
  background-color: cornflowerblue !important;
}

.mat-mdc-table {
  background-color: cadetblue !important;
}

.mat-table {
  border-radius: 8px; /* Adjust the value as needed */
  overflow: hidden;
}

.mat-mdc-card {
  background-color: white !important;
}

