<!--<mat-toolbar color="primary">-->
<!--  <span class="fill-remaining-space">-->
<!--    <button mat-icon-button [matMenuTriggerFor]="menu"-->
<!--            #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--    <mat-menu #menu="matMenu" [overlapTrigger]="false">-->
<!--    <span (mouseleave)="menuTrigger.closeMenu()">-->
<!--      <button mat-menu-item>-->
<!--        <mat-icon>home</mat-icon>-->
<!--        <span>Home</span>-->
<!--  </button>-->
<!--  <button mat-menu-item>-->
<!--        <mat-icon>people_outline</mat-icon>-->
<!--        <span>Cadastrar</span>-->
<!--      </button>-->
<!--  <button mat-menu-item>-->
<!--        <mat-icon>videocam</mat-icon>-->
<!--        <span>Listar</span>-->
<!--      </button>-->
<!--  <button mat-menu-item>-->
<!--    <mat-icon>videocam</mat-icon>-->
<!--    <span>Agendamento</span>-->
<!--  </button>-->
<!--  <button mat-menu-item>-->
<!--        <mat-icon>exit_to_app</mat-icon>-->
<!--        <span>Sair</span>-->
<!--      </button>-->
<!--  </span>-->
<!--  </mat-menu>-->
<!--  </span>-->
<!--  <div>-->
<!--    <span class="fill-remaining-space">FisioClick - Agendamento de consultas</span>-->
<!--  </div>-->
<!--</mat-toolbar>-->

<!--<mat-toolbar color="primary">-->
<!--  <span class="fill-remaining-space">-->
<!--    <button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--    <mat-menu #menu="matMenu" [overlapTrigger]="false">-->
<!--      <button mat-menu-item [matMenuTriggerFor]="fisioterapeuta">Fisioterapeuta</button>-->
<!--      <button mat-menu-item [matMenuTriggerFor]="agendamento">Agendamento</button>-->
<!--    <mat-menu #fisioterapeuta="matMenu">-->
<!--&lt;!&ndash;      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>&ndash;&gt;-->
<!--      <button mat-menu-item>Cadastrar</button>-->
<!--      <button mat-menu-item>Listar</button>-->
<!--    </mat-menu>-->

<!--      <mat-menu #agendamento="matMenu">-->
<!--&lt;!&ndash;      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>&ndash;&gt;-->
<!--      <button mat-menu-item>Birds</button>-->
<!--      <button mat-menu-item>Mammals</button>-->
<!--    </mat-menu>-->

<!--  </mat-menu>-->

<!--  </span>-->
<!--  <div>-->
<!--    <span class="fill-remaining-space">FisioClick - Agendamento de consultas</span>-->
<!--  </div>-->
<!--</mat-toolbar>-->

<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Fisioterapeuta</button>
    <mat-menu #aboveMenu="matMenu" xPosition="after">
      <button mat-menu-item (click)="cadastrarFisioterapeuta()">Cadastrar</button>
      <button mat-menu-item (click)="listarFisioterapeuta()">Listar</button>
    </mat-menu>

    <button mat-button (click)="agendamento()">Agendamento</button>


<!--    <button mat-button [matMenuTriggerFor]="belowMenu">Agendamento</button>-->
<!--    <mat-menu #belowMenu="matMenu" xPosition="after">-->
<!--      <button mat-menu-item>Cadastrar</button>-->
<!--      <button mat-menu-item>Listar</button>-->
<!--    </mat-menu>-->
  </span>
  <div>
    <span class="fill-remaining-space">FisioClick - Agendamento de consultas</span>
  </div>
</mat-toolbar>

<div><router-outlet></router-outlet></div>



